.dropdown-header{
    width: 90%;
    height: 30px;
    margin: 20px 20px 0 20px;

    cursor: pointer;
    font-size: 13px;
    line-height: 142.6%;
    border: none;
    outline: none;

    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #FFFFFF;
    background: #FF6060;
    border-radius: 5px;
}

.dropdown-panel{
    padding: 0 10px;
    color:#FF6060;
    margin:0 20px;
    overflow: hidden;
    background: #F7F7F7;
    animation: 0.3s linear dropdown;
}

@keyframes dropdown {
    from{ 
        height: 0; 
    }
    to{ 
        height: 150px;
        }
}

.dropdownList{
    padding: 0;
}