footer{
    position: sticky;
    bottom: 0;
    margin-top: 20px;
    width: 375px;
    height: 209px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000000;
}

.footerLogo{
    width: 122px;
    height: 34px;
    position: absolute;
    left: 33.87%;
    right: 33.6%;
    top: 29.67%;
    bottom: 51.46%;
}

.credit{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 142.6%;
    /* or 17px */

    display: flex;
    align-items: flex-end;

    color: #FFFFFF;

}