.header{
    position: absolute;
    width: 335px;
    height: 47px;
    left: 20px;
    top: 20px;
}

.LOGO{
    position: absolute;
    left: 0%;
    right: 56.72%;
    top: 0%;
    bottom: 0%;

}

nav{
    position: absolute;
    left: 58.21%;
    right: 0%;
    top: 38.3%;
    bottom: 25.53%;
}

.nav_text{
    position: absolute;
left: 58.21%;
right: 24.18%;
top: 38.3%;
bottom: 25.53%;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 142.6%;
/* or 17px */

display: flex;
align-items: flex-end;
text-align: right;
text-decoration-line: underline;

color: #FF6060;

}

.nav_textBis{
    position: absolute;
    left: 78.81%;
    right: 0%;
    top: 38.3%;
    bottom: 25.53%;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 142.6%;
    /* or 17px */

    display: flex;
    align-items: flex-end;
    text-align: right;

    color: #FF6060;
}