.section1{
    width: 90%;
    height: 111px;
    margin: 0 auto 20px auto;

    background-color: rgba(0, 0, 0, 0.4);
    background-image : url("../assets/home/background_banner.jpg");
    background-repeat : no-repeat;
    background-position : center;
    background-size: cover;
    background-blend-mode: darken;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.title{
    margin-left: 20px;
    height: 48px;
    width: 271px;
    font-size: 24px;
    line-height: 100%;
    /* or 24px */
    color: #FFFFFF;
}

.thumb{
    width: 90%;
    height: 255px;
    margin: 0 auto 20px auto;
    display: flex;
    align-items: flex-end;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    border-radius: 10px;
}

.logementTitle{
    margin: 0 20px 15px 20px;
    position: absolute;
    font-size: 18px;
    line-height: 142.6%;
    /* or 26px */
    color: #FFFFFF;
    z-index: 1;
}
.logementCover{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    mix-blend-mode: darken;
}
