body {
  margin: 0;
  font-family: "Montserrat";
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p, li, h1, h2 {
  font-weight: 500;
}

p, li {
  font-size: 12px;
  color: #FF6060;
  list-style-type: none;
}

.dropdown {
  width: 90%;
  margin: 20px 20px 0 20px;
}
.dropdown__header {
  width: 100%;
  height: 30px;
  cursor: pointer;
  font-size: 13px;
  line-height: 142.6%;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #FFFFFF;
  background: #FF6060;
  border-radius: 5px;
}
.dropdown__panel {
  width: auto;
  padding: 0 10px;
  color: #FF6060;
  overflow: hidden;
  background: #F7F7F7;
  animation: 0.3s linear dropdown;
}
@keyframes dropdown {
  from {
    height: 0;
  }
  to {
    height: 150px;
  }
}
.dropdown .dropdownList {
  padding: 0;
}

.slideshow {
  display: flex;
  justify-content: center;
}
.slideshow__arrows {
  color: white;
  position: absolute;
  top: 30%;
  display: flex;
  justify-content: space-between;
  margin: 0 35px;
  width: 80%;
  z-index: 1;
}
.slideshow__slide {
  width: 90%;
  height: 255px;
  margin: 0 auto 20px auto;
  display: flex;
  align-items: flex-end;
  border-radius: 10px;
  object-fit: cover;
}
.footer {
  position: relative;
  bottom: -40px;
  margin-top: 20px;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #000000;
}
.footer__logo {
  width: 122px;
  height: 34px;
}
.footer__credit {
  display: flex;
  align-items: flex-end;
  color: white;
}

.header {
  width: 90%;
  height: 47px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__menu {
  padding-left: 0;
  display: flex;
  list-style-type: none;
}
.header__menu__text {
  margin-left: 10px;
  display: flex;
  align-items: flex-end;
  text-transform: uppercase;
  text-align: right;
  text-decoration-line: underline;
  color: #FF6060;
}
@media screen and (min-width: 1024px) {
  .header__menu__text {
    font-size: 24px;
    margin-left: 57px;
    text-transform: none;
  }
}
@media screen and (min-width: 1024px) {
  .header {
    margin-bottom: 70px;
  }
}

.banner {
  width: 90%;
  height: 223px;
  margin: 0 20px;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: darken;
  border-radius: 10px;
}

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.error__title {
  margin-top: 90px;
  margin-bottom: 10px;
  width: unset;
  font-weight: 700;
  font-size: 96px;
  line-height: 142.6%;
  /* or 137px */
  color: #FF6060;
}
.error__message {
  width: 260px;
  text-align: center;
  font-size: 18px;
  line-height: 142.6%;
  /* or 26px */
  color: #FF6060;
}
.error__link {
  font-size: 14px;
  line-height: 142.6%;
  margin: 133px 0 20px 0;
  /* or 17px */
  display: flex;
  align-items: flex-end;
  text-align: right;
  text-decoration-line: underline;
  color: #FF6060;
}

.banner {
  width: 90%;
  height: 111px;
  margin: 0 auto 20px auto;
  background-color: rgba(0, 0, 0, 0.4);
  background-image: url("../assets/home/background_banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: darken;
  border-radius: 10px;
  display: flex;
  align-items: center;
}
.banner__title {
  margin-left: 20px;
  height: 48px;
  font-size: 24px;
  line-height: 100%;
  /* or 24px */
  color: white;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  .banner {
    justify-content: center;
    height: 223px;
  }
  .banner__title {
    font-size: 48px;
    flex-direction: row;
  }
}

.cardfolder__card {
  position: relative;
  width: 90%;
  height: 255px;
  margin: 0 auto 20px auto;
  display: flex;
  align-items: flex-end;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  border-radius: 10px;
  object-fit: cover;
}
.cardfolder__card__title {
  margin: 0 20px 15px 20px;
  position: absolute;
  font-size: 18px;
  line-height: 142.6%;
  /* or 26px */
  color: white;
  z-index: 1;
}
.cardfolder__card__picture {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  mix-blend-mode: darken;
  object-fit: cover;
}
@media screen and (min-width: 1024px) {
  .cardfolder {
    width: 90%;
    margin: 0 auto;
    background-color: #F7F7F7;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .cardfolder__card {
    margin: 30px;
    width: 340px;
    height: 340px;
  }
}

.lodgeblock__top h1 {
  margin: 15px 20px 5px 20px;
  font-size: 18px;
  line-height: 142.6%;
  color: #FF6060;
}
.lodgeblock__top h2 {
  margin: 0 20px;
  font-size: 14px;
  line-height: 142.6%;
  display: flex;
  align-items: flex-end;
  color: #FF6060;
}
.lodgeblock__top__tagfield {
  display: flex;
  flex-direction: row;
  margin: 0 20px;
}
.lodgeblock__top__tagfield__tag {
  height: 20px;
  padding: 0 10px;
  margin: 10px 10px 0 0;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  background: #FF6060;
  border-radius: 5px;
}
.lodgeblock__middle {
  margin: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.lodgeblock__middle__rating {
  padding: 0;
  list-style-type: none;
  display: flex;
}
.lodgeblock__middle__vendor {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.lodgeblock__middle__vendor__name {
  text-align: end;
  color: #FF6060;
  margin-right: 10.5px;
}
.lodgeblock__middle__vendor__picture {
  height: 32px;
  border-radius: 50%;
}
@media screen and (min-width: 1024px) {
  .lodgeblock {
    display: flex;
    justify-content: space-between;
  }
  .lodgeblock__top h1 {
    font-size: 36px;
  }
  .lodgeblock__top h2 {
    font-size: 18px;
  }
  .lodgeblock__top__tagfield__tag {
    height: 25px;
    font-size: 14px;
  }
  .lodgeblock__middle {
    flex-direction: column-reverse;
    justify-content: space-between;
  }
  .lodgeblock__middle__vendor__name {
    font-size: 18px;
  }
  .lodgeblock__middle__vendor__picture {
    height: 64px;
  }
  .lodgeblock__middle .star {
    height: 30px;
    width: auto;
  }
}

/*# sourceMappingURL=main.css.map */
