code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

body {
  margin: 0;
  font-family: "Montserrat";
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a, p, li, h1, h2 {
  font-weight: 500;
  text-decoration: auto;
}

p, li {
  font-size: 12px;
  color: #FF6060;
  list-style-type: none;
}
@media screen and (min-width: 1024px) {
  p, li {
    font-size: 18px;
  }
}

.dropdown {
  width: 90%;
  margin: 20px auto 0 auto;
}
.dropdown__header {
  width: 100%;
  height: 30px;
  cursor: pointer;
  font-size: 13px;
  line-height: 142.6%;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  background: #FF6060;
  border-radius: 5px;
}
.dropdown__panel {
  width: auto;
  margin: 0;
  padding: 0 10px;
  color: #FF6060;
  overflow: hidden;
  background: #F7F7F7;
  position: relative;
  top: -5px;
  z-index: -1;
}
@media screen and (min-width: 1240px) {
  .dropdown__header {
    padding: 0 20px;
    font-size: 18px;
    height: 52px;
    border-radius: 10px;
  }
  .dropdown__panel {
    margin-top: 10px;
    border-radius: 10px;
    top: -25px;
  }
}

@keyframes dropdownOpen {
  from {
    height: 0;
  }
  to {
    height: 140px;
  }
}
@keyframes dropdownClose {
  from {
    height: 140px;
  }
  to {
    height: 0;
  }
}
.slideshow {
  width: 355px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slideshow__arrows {
  color: white;
  position: absolute;
  display: flex;
  justify-content: space-between;
  margin: 0 35px;
  width: 85%;
  z-index: 1;
}
.slideshow__arrows__item {
  cursor: pointer;
  font-size: 20px;
}
.slideshow__text {
  display: none;
}
.slideshow__slide {
  width: 90%;
  height: 255px;
  margin: 0 auto 20px auto;
  display: flex;
  align-items: flex-end;
  border-radius: 10px;
  object-fit: cover;
}
@media screen and (min-width: 1240px) {
  .slideshow {
    width: 1240px;
  }
  .slideshow__arrows {
    width: 90%;
  }
  .slideshow__arrows__item {
    font-size: 80px;
  }
  .slideshow__text {
    text-align: center;
    position: absolute;
    z-index: 10;
    bottom: 30px;
    width: 100%;
    color: white;
    display: block;
  }
  .slideshow__slide {
    Width: 1240px;
    Height: 415px;
    border-radius: 25px;
  }
}

.footer {
  position: relative;
  bottom: -150px;
  margin-top: 20px;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #000000;
}
.footer__logo {
  width: 122px;
  height: 34px;
}
.footer__credit {
  display: flex;
  align-items: flex-end;
  color: white;
}

.header {
  width: 90%;
  height: 47px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__menu {
  padding-left: 0;
  display: flex;
  list-style-type: none;
}
.header__menu__text {
  font-size: 12px;
  margin-left: 10px;
  display: flex;
  align-items: flex-end;
  text-transform: uppercase;
  text-align: right;
  color: #FF6060;
}
@media screen and (min-width: 1240px) {
  .header__menu__text {
    font-size: 24px;
    margin-left: 57px;
    text-transform: none;
  }
}
@media screen and (min-width: 1240px) {
  .header {
    max-width: 1240px;
    margin-bottom: 70px;
  }
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about__banner {
  width: 90%;
  height: 223px;
  margin: 0 20px;
  border-radius: 10px;
  background-image: url("../assets/about/gustavo-alves-YOXSC4zRcxw-mobile.jpg");
  background-size: cover;
}
@media screen and (min-width: 1240px) {
  .about__banner {
    background-image: url("../assets/about/kalen-emsley-Bkci_8qcdvQ-desktop.jpg");
    width: 1240px;
    border-radius: 25px;
  }
}
.about__dropdown {
  width: 100%;
}
.about__dropdown__text {
  margin: 25px 0;
}
@media screen and (min-width: 1240px) {
  .about__dropdown {
    width: 70%;
  }
}

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.error__title {
  margin-top: 90px;
  margin-bottom: 10px;
  width: unset;
  font-weight: 700;
  font-size: 96px;
  line-height: 142.6%;
  /* or 137px */
  color: #FF6060;
}
.error__message {
  width: 260px;
  text-align: center;
  font-size: 18px;
  line-height: 142.6%;
  /* or 26px */
  color: #FF6060;
}
.error__link {
  font-size: 14px;
  line-height: 142.6%;
  margin: 133px 0 20px 0;
  /* or 17px */
  display: flex;
  align-items: flex-end;
  text-align: right;
  text-decoration-line: underline;
  color: #FF6060;
}
@media screen and (min-width: 1240px) {
  .error__title {
    font-size: 288px;
  }
  .error__message {
    font-size: 36px;
    width: 100%;
  }
  .error__link {
    font-size: 18px;
  }
}

.banner {
  width: 90%;
  height: 111px;
  margin: 0 auto 20px auto;
  background-color: rgba(0, 0, 0, 0.4);
  background-image: url("../assets/home/background_banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: darken;
  border-radius: 10px;
  display: flex;
  align-items: center;
}
.banner__title {
  margin-left: 20px;
  height: 48px;
  font-size: 24px;
  line-height: 100%;
  /* or 24px */
  color: white;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1240px) {
  .banner {
    justify-content: center;
    width: 1240px;
    height: 223px;
    border-radius: 25px;
  }
  .banner__title {
    font-size: 48px;
    flex-direction: row;
  }
}

.cardfolder__card {
  position: relative;
  width: 90%;
  height: 255px;
  margin: 0 auto 20px auto;
  display: flex;
  align-items: flex-end;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  border-radius: 10px;
  object-fit: cover;
}
.cardfolder__card__title {
  margin: 0 20px 15px 20px;
  position: absolute;
  font-size: 18px;
  line-height: 142.6%;
  /* or 26px */
  color: white;
  z-index: 1;
}
.cardfolder__card__picture {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  mix-blend-mode: darken;
  object-fit: cover;
}
@media screen and (min-width: 1240px) {
  .cardfolder {
    width: 1240px;
    margin: 0 auto;
    background-color: #F7F7F7;
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .cardfolder__card {
    margin: 30px;
    width: 340px;
    height: 340px;
  }
}

.lodge {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.lodge__block {
  width: 100%;
}
.lodge__block__top {
  margin: 0 20px;
}
.lodge__block__top h1 {
  margin: 0;
  font-size: 18px;
  line-height: 142.6%;
  color: #FF6060;
}
.lodge__block__top h2 {
  margin: 0;
  font-size: 14px;
  line-height: 142.6%;
  display: flex;
  align-items: flex-end;
  color: #FF6060;
}
.lodge__block__top__tagfield {
  display: flex;
  flex-direction: row;
}
.lodge__block__top__tagfield__tag {
  height: 20px;
  padding: 0 10px;
  margin: 10px 10px 0 0;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  background: #FF6060;
  border-radius: 5px;
}
.lodge__block__middle {
  margin: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.lodge__block__middle__rating {
  padding: 0;
  list-style-type: none;
  display: flex;
}
.lodge__block__middle__vendor {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.lodge__block__middle__vendor__name {
  text-align: end;
  color: #FF6060;
  margin-right: 10.5px;
}
.lodge__block__middle__vendor__picture {
  height: 32px;
  border-radius: 50%;
}
@media screen and (min-width: 1240px) {
  .lodge__block {
    display: flex;
    justify-content: space-between;
    width: 1240px;
  }
  .lodge__block__top {
    margin: 0;
  }
  .lodge__block__top h1 {
    font-size: 36px;
  }
  .lodge__block__top h2 {
    font-size: 18px;
  }
  .lodge__block__top__tagfield__tag {
    height: 25px;
    font-size: 14px;
  }
  .lodge__block__middle {
    margin: 0;
    flex-direction: column-reverse;
    justify-content: space-between;
  }
  .lodge__block__middle__vendor {
    justify-content: flex-end;
  }
  .lodge__block__middle__vendor__picture {
    height: 64px;
  }
  .lodge__block__middle .star {
    height: 30px;
    width: auto;
  }
}
.lodge__dropdowns {
  width: 100%;
}
.lodge__dropdowns__list {
  padding: 0;
}
@media screen and (min-width: 1240px) {
  .lodge__dropdowns {
    display: flex;
    justify-content: space-between;
    width: 1240px;
  }
  .lodge__dropdowns__text {
    margin-top: 25px;
  }
  .lodge__dropdowns__list {
    margin-top: 25px;
  }
  .lodge__dropdowns .dropdown {
    width: 48%;
    margin: 0;
  }
}

/*# sourceMappingURL=main.css.map */
