.header{
    width: 90%;
    height: 47px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Menu{
    padding-left: 0;
    display: flex;
    list-style-type: none;
}

.nav_text{
    margin-left: 10px;
    display: flex;
    align-items: flex-end;
    text-align: right;
    text-decoration-line: underline;
    color: #FF6060;
}